<div class="footer">
    <div class="content">
        <div class="details">
            <h4 class="address">Address</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur <br/>
                adipisicing elit. Cupiditate, qui!
            </p>
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">+9112233445</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">info@bookmarket.com</a></p>
        </div>
    </div>
    <footer>
        <hr/>
        &copy; 2023 IDK Technologies Ltd.
    </footer>
</div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>